<%- include('../port/layout-start', {title: title}) %>
<%- include('../components/menu') %>
<% if (books.length > 0) { %>
    <h4>Books list</h4>
    <ul class="list-group">
        <% books.forEach(book => { %>
            <li class="list-group-item"><%= book.title %></li>
        <% }); %>
    </ul>
<% } %>
<%- include('../port/layout-end') %>